.banner-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner {
  width: 40%;
  height: 40%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: grow .1s linear;
  border-radius: 10px;
}

h3 {
  font-size: 37px;
  font-family: 'Lobster', cursive;
}

.banner button {
  color: #fff;
  font-weight: bold;
  height: 5vh;
  width: 12wh;
  font-size: large;
  background-color: #24ee36;
  border: none;
  border-radius: 10%;
  cursor: pointer;
}

.banner p {
  margin-top: 0;
  font-size: 25px;
}

.banner button:hover {
  background-color: #2ca736;
}

@keyframes grow {
    
  0% {
      width: 0%;
      height: 0%;
  }

  100% {
      width: 40%;
      height: 40%;
  }
}

@media screen and (max-width: 767px) {

  .banner {
    width: 90%;
    position: absolute;
    top: -15vh;
  }
}