.menu-options {
  position: fixed;
  z-index: 9;
  padding-top: 2vh;
  padding-bottom: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  height: 14vh;
  width: 100vw;
  transition-duration: .5s;
  background-color: black;
  opacity: .9;
}

.menu-options a {
  color: #fff;
  list-style: none;
  font-size: 1.5em;
}

.menu-options li {
  margin-bottom: .3em;
}

.menu-options ul {
  margin-left: 0;
}

.menu-cart-content {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
}